{% extends 'StatsBankBundle::layout.html.twig' %}

{% block content %}
<div id="account-statement-div">
    <h1>{{'Add manually'|trans}}</h1>

    <form action="{{ path('stats_stats_save') }}" method="post" {{ form_enctype(form) }} novalidate>
        {{ form_errors(form) }}

        {{ form_rest(form) }}

            
        <div class="ctrl">    
            <input type="submit" />
        </div>
    </form>
</div>    
    
{% endblock %}